@import "@styles/variables.scss";

.tileWrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  min-width: 250px;
  gap: 30px;
  padding: 5%;
  border: 1px;
}

.disabledTile {
  opacity: 0.5;
}

.statsWrapper {
  text-wrap: wrap;
  text-overflow: ellipsis
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: sp;

  button {
    cursor: pointer;
    background: none;
    border: none;

    &:not(:disabled):hover {
      border-radius: 5px;
      background-color: $light-gray;
    }

    &:disabled {
      cursor: default;
    }
  }
}

.lightText {
  font-size: 14px;
  color: $gray;
}


@media (max-width: 480px) {
  .tileWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid $gray;
  }
}