@import "@styles/_variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  min-height: 40px;
  color: $white;
  background-color: $apple-green;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $white;
}

.navWrapper{
  display: flex;
  gap: 15px  ;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    text-decoration: none;
    font-weight: bold;
    color: $white;

    &.active {
      text-decoration: underline;
    }
  }

}

.navIcons {
  display: flex;
  gap: 10px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
  }
}

.burgerButton {
  display: none;
}


@media (max-width: 480px) {
  .navLinks {
    display: none;
  }

  .iconsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burgerButton {
    display: block;
    font-size: 28px;
  }

}